﻿@page
@model lab8.Pages.Tickets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.PassengerId" class="control-label"></label>
                <select asp-for="Ticket.PassengerId" class ="form-control" asp-items="ViewBag.PassengerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TimeDeparture" class="control-label"></label>
                <input asp-for="Ticket.TimeDeparture" class="form-control" />
                <span asp-validation-for="Ticket.TimeDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TimeArrival" class="control-label"></label>
                <input asp-for="Ticket.TimeArrival" class="form-control" />
                <span asp-validation-for="Ticket.TimeArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Cost" class="control-label"></label>
                <input asp-for="Ticket.Cost" class="form-control" />
                <span asp-validation-for="Ticket.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.JorneyId" class="control-label"></label>
                <select asp-for="Ticket.JorneyId" class ="form-control" asp-items="ViewBag.JorneyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.StationDepartureId" class="control-label"></label>
                <select asp-for="Ticket.StationDepartureId" class ="form-control" asp-items="ViewBag.StationDepartureId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.StationArrivalId" class="control-label"></label>
                <select asp-for="Ticket.StationArrivalId" class ="form-control" asp-items="ViewBag.StationArrivalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Payments" class="control-label"></label>
                <select asp-for="Ticket.Payments" class="form-control">
                    <option value="cash">Cash</option>
                    <option value="ewallet">E-Wallet</option>
                </select>
                <span asp-validation-for="Ticket.Payments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Car" class="control-label"></label>
                <input asp-for="Ticket.Car" class="form-control" />
                <span asp-validation-for="Ticket.Car" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Seat" class="control-label"></label>
                <input asp-for="Ticket.Seat" class="form-control" />
                <span asp-validation-for="Ticket.Seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <div class="text-danger">@error.ErrorMessage</div>
                }
            }

        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
