﻿@page
@model lab8.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TimeDeparture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TimeDeparture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TimeArrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TimeArrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Car)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Seat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Seat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.JorneyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.JorneyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.PassengerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.PassengerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.StationArrivalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.StationArrivalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.StationDepartureId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.StationDepartureId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
