﻿@page
@model lab8.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TimeDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TimeArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].JorneyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].PassengerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].StationArrivalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].StationDepartureId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JorneyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationArrivalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationDepartureId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
