﻿@page
@model lab8.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Payments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Ticket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.Id)
            </td>

        </tr>
}
    </tbody>
</table>
